.before-header{
    background-color: #0C4B35;
    color: white;
    [class*="-icon"]{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    .email-icon{
        background: url(images/email-1.png) no-repeat center;
    }
    .call-icon{
        background: url(images/call-1.png) no-repeat center;
    }
    .location-icon{
        background: url(images/location-1.png) no-repeat center;
    }
    h4{
        font-family: $font-nunito;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
    }
    .arrow-down{
        background: url(images/arrow-down.png) no-repeat center;
        width: 10px;
        height: 10px;
        margin: 5px;
        cursor: pointer;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: space-between;   
    }       
}
header{
    margin-top: 17px;
    .row{
        justify-content: space-between;
    }
    .box{
        display: flex;
    }
    .menu{
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            li{
                cursor: pointer;
                display: flex;
                align-items: center;
                font-family: $font-nunito;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0px;
                &:active{
                    color: #00730C;
                    .arrow-down-black{
                        background: url(images/arrow-down-green.png);
                    }
                }
            }
        }
        .arrow-down-black{
            width: 12px;
            height: 7px;
            background: url(images/arrow-down-black.png) no-repeat center;
            margin: 5px;
            cursor: pointer;    
        }
    }
}